body{
    background-color: #2e6da4;
}
.main{
    background-color: white;
    margin: 30px;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.question-title{
    margin-top: 15px;
}
.question-tag{
    margin-right: 5px;
}
.question-ljq{
    width: 100%;
}
.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab . label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}
.question-related{
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}
.media-object{
    width: 38px;
    height: 38px;
}
.media-body{
    padding-top: 10px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.profile.section{
    margin-top: 15px;
}
.community-menu{
    /*display: block;*/
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}
.jumbotron{
    margin: 50px;
}
.comment{
    margin: 10px 0;
}
.comment_sp{
    margin-top: 0px;
}
.menu{
    color: #999;
    margin-top: 5px;
}
.menu .icon{
    font-size: 15px;
    cursor: pointer;
}
.menu .comment-icon{
    margin-left: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .active{
    color: #499ef3;
}
.menu:hover .icon{
    color: #499ef3;
}
.menu:hover .comment-icon{
    color: #499ef3;
}
.comments{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top:15px;
    margin-bottom: 15px;
}
.sub-comments .btn{
    margin: 10px 0;
}
.footer {
    text-align: center;
    font-size: 12px;
    color: #666;;
    padding: 0 0 15px 0;
}
